.TicketNum{
   font-size: 2rem;
   
}
.Ticket{
   margin-top: 100px;

}
.btn{
   border: 4px;
   border-radius: 6px;
   height:30px;
   width: 160px;
   border-color: chartreuse;
   background-color: cadetblue;
   color: black;
}